{% extends 'base.html' %}
{% load static %}
{% block plugin_css%}
{% endblock %}                          
{% block content %}
<div class="row">
  <!-- Columna de Tabla (col-2) -->
  <div class="col-lg-2 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Atletas</h4>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Apellido</th>
              </tr>
            </thead>
            <tbody>
              {% for atleta in atletas %}
                <tr>
                  <td>{{ atleta.nombre }}</td>
                  <td>{{ atleta.apellido }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Columna Principal de Formulario (col-10) -->
  <div class="col-10 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Crear Plan de Entrenamiento</h4>
        <form method="post" class="form-sample">
          {% csrf_token %}
          <!-- Datos del Plan de Entrenamiento -->
          <div class="row">
            <div class="col-md-5">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Atleta</label>
                <div class="col-sm-8">
                  {{ plan_form.atleta }}
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Fecha de Validez</label>
                <div class="col-sm-8">
                  {{ plan_form.fecha_validez }}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Tipo de Entrenamiento</label>
                <div class="col-sm-8">
                  {{ plan_form.tipo_entrenamiento }}
                </div>
              </div>
            </div>
          </div>

          <!-- Detalles del Plan de Entrenamiento -->
          <h5 class="card-title mt-4">Detalles de Entrenamiento</h5>
          {{ detalle_formset.management_form }}
          {% for form in detalle_formset %}
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Ejercicio</label>
                  {{ form.ejercicio }}
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label>Repeticiones</label>
                  {{ form.repeticiones }}
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label>Unidad</label>
                  {{ form.unidad_repeticion }}
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label>Series</label>
                  {{ form.series }}
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label>Intensidad</label>
                  {{ form.intensidad }}
                </div>
              </div>
            </div>
          {% endfor %}
          
          <!-- Botones de Acción -->
          <button type="submit" class="btn btn-primary mr-2">Guardar</button>
          {% comment %} <a href="{% url 'lista_planes_entrenamiento' %}" class="btn btn-dark">Cancelar</a> {% endcomment %}
        </form>
      </div>
    </div>
  </div>  
</div>
{% endblock %}

{% block nav %}
{% include 'nav_home.html' %}
{% endblock %}

{% block plugin_js %}
{% endblock %}

{% block custom_js %}
{% endblock %}