{% extends 'base.html' %}
{% load static %}
{% block plugin_css%}
<link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'js/select.dataTables.min.css' %}">
{% endblock %}                          
{% block content %}
<div class="row">
  <div class="col-md-12 grid-margin">
    <div class="row">
      <div class="col-12 col-xl-8 mb-4 mb-xl-0">
        <h3 class="font-weight-bold col-10 col-xl-6 mb-5 mb-xl-0">Bienvenido {{ user.get_full_name }}</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card tale-bg">
        <div class="card-people mt-auto">
          <img src="{% static 'images/dashboard/img_campo.jpeg' %}" alt="people">
          <div class="weather-info">
            <div class="d-flex">
              <div class="d-flex">
                <img id='id_imgclima' src="" alt="">
                <h2 id='id_temperatura' class="mb-0 font-weight-normal"></h2>
              </div>
              <div class="ml-2">
                <h4 id='id_ciudad' class="location font-weight-normal">Pinamar</h4>
                <h6 id='id_pais' class="font-weight-normal">Argentina</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 grid-margin transparent">
      <div class="row">
        {% for lote in datos_cultivo %}
            <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                    <div class="card {% if forloop.counter0|add:'0'|divisibleby:4 %}card-tale{% endif %}{% if forloop.counter0|add:'-1'|divisibleby:4 %}card-dark-blue{% endif %}{% if forloop.counter0|add:'-2'|divisibleby:4 %}card-light-blue{% endif %}{% if forloop.counter0|add:'-3'|divisibleby:4 %}card-light-danger{% endif %}">
                    <div class="card-body">
                      <p class="mb-4">Campo: {{ lote.lote.campo.nombre }} - Lote: {{lote.lote.nombre}}</p>
                      {% if lote.encontre %}
                        <p class="fs-30 mb-2">{{ lote.estado.cultivo.nombre }}</p>
                        <p>Desde: {{ lote.estado.fecha_desde }} - Hasta: {{lote.estado.fecha_hasta}}</p>
                      {% else %}
                        <p class="fs-30 mb-2">Sin cultivo</p>
                        <p>Ha totales: {{ lote.lote.ha_totales }} - Productivas: {{lote.lote.ha_productivas}} ({{lote.p|floatformat:0}}%)</p>                      {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div> 
  </div>
  
  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card position-relative">
        <div class="card-body">
          <div id="detailedReports" class="carousel slide detailed-report-carousel position-static pt-2" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md-12 col-xl-3 d-flex flex-column justify-content-start">
                    <div class="ml-xl-4 mt-3">
                    <p class="card-title">Costo de Producción / HA - Campaña 2022-2023</p>
                    <h2 class="text-primary">Trigo</h2>   
                    <h1 class="text-primary">$5460</h1>  
                    <h3 class="font-weight-500 mb-xl-4 text-primary">Bariloche</h3>
                    </div>  
                    </div>
                  <div class="col-md-12 col-xl-9">
                    <div class="row">
                      <div class="col-md-6 border-right">
                        <div class="table-responsive mb-3 mb-md-0 mt-3">
                          <table class="table table-borderless report-table">
                            <tr>
                              <td class="text-muted">Insumos</td>
                              <td class="w-100 px-0">
                                <div class="progress progress-md mx-4">
                                  <div class="progress-bar bg-warning" role="progressbar" style="width: 51%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                              </td>
                              <td><h5 class="font-weight-bold mb-0">$5150</h5></td>
                            </tr>
                            <tr>
                              <td class="text-muted">Mano de obra</td>
                              <td class="w-100 px-0">
                                <div class="progress progress-md mx-4">
                                  <div class="progress-bar bg-danger" role="progressbar" style="width: 1,5%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                              </td>
                              <td><h5 class="font-weight-bold mb-0">$150</h5></td>
                            </tr>
                            <tr>
                              <td class="text-muted">Servicios Mecanicos</td>
                              <td class="w-100 px-0">
                                <div class="progress progress-md mx-4">
                                  <div class="progress-bar bg-info" role="progressbar" style="width: 7%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                              </td>
                              <td><h5 class="font-weight-bold mb-0">$780</h5></td>
                            </tr>
                            <tr>
                              <td class="text-muted">Gastos generales</td>
                              <td class="w-100 px-0">
                                <div class="progress progress-md mx-4">
                                  <div class="progress-bar bg-primary" role="progressbar" style="width: 1%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                              </td>
                              <td><h5 class="font-weight-bold mb-0">$60</h5></td>
                            </tr>
                            <tr>
                              <td class="text-muted">Seguro de producción</td>
                              <td class="w-100 px-0">
                                <div class="progress progress-md mx-4">
                                  <div class="progress-bar bg-danger" role="progressbar" style="width: 1%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                              </td>
                              <td><h5 class="font-weight-bold mb-0">$121</h5></td>
                            </tr>
                            <tr>
                              <td class="text-muted">Costos de comercializacion</td>
                              <td class="w-100 px-0">
                                <div class="progress progress-md mx-4">
                                  <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                              </td>
                              <td><h5 class="font-weight-bold mb-0">$280</h5></td>
                            </tr>
                          </table>
                        </div>
                      </div>
                      <div class="col-md-6 mt-3">
                        <canvas id="north-america-chart"></canvas>
                        <div id="north-america-legend"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-12 col-xl-3 d-flex flex-column justify-content-start">
                    <div class="ml-xl-4 mt-3">
                    <p class="card-title">Costo de Producción / HA - Campaña 2022-2023</p>
                    <h2 class="text-primary">Soja</h2>   
                    <h1 class="text-primary">$4150</h1>  
                    <h3 class="font-weight-500 mb-xl-4 text-primary">Necochea BsAS</h3>
                    </div>  
                    </div>
                  <div class="col-md-12 col-xl-9">
                    <div class="row">
                      <div class="col-md-6 border-right">
                        <div class="table-responsive mb-3 mb-md-0 mt-3">
                          <table class="table table-borderless report-table">
                            <tr>
                              <td class="text-muted">Insumos</td>
                              <td class="w-100 px-0">
                                <div class="progress progress-md mx-4">
                                  <div class="progress-bar bg-warning" role="progressbar" style="width: 51%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                              </td>
                              <td><h5 class="font-weight-bold mb-0">$2850</h5></td>
                            </tr>
                            <tr>
                              <td class="text-muted">Mano de obra</td>
                              <td class="w-100 px-0">
                                <div class="progress progress-md mx-4">
                                  <div class="progress-bar bg-danger" role="progressbar" style="width: 1,5%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                              </td>
                              <td><h5 class="font-weight-bold mb-0">$150</h5></td>
                            </tr>
                            <tr>
                              <td class="text-muted">Servicios Mecanicos</td>
                              <td class="w-100 px-0">
                                <div class="progress progress-md mx-4">
                                  <div class="progress-bar bg-info" role="progressbar" style="width: 7%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                              </td>
                              <td><h5 class="font-weight-bold mb-0">$780</h5></td>
                            </tr>
                            <tr>
                              <td class="text-muted">Gastos generales</td>
                              <td class="w-100 px-0">
                                <div class="progress progress-md mx-4">
                                  <div class="progress-bar bg-primary" role="progressbar" style="width: 1%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                              </td>
                              <td><h5 class="font-weight-bold mb-0">$60</h5></td>
                            </tr>
                            <tr>
                              <td class="text-muted">Seguro de producción</td>
                              <td class="w-100 px-0">
                                <div class="progress progress-md mx-4">
                                  <div class="progress-bar bg-danger" role="progressbar" style="width: 1%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                              </td>
                              <td><h5 class="font-weight-bold mb-0">$121</h5></td>
                            </tr>
                            <tr>
                              <td class="text-muted">Costos de comercializacion</td>
                              <td class="w-100 px-0">
                                <div class="progress progress-md mx-4">
                                  <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                              </td>
                              <td><h5 class="font-weight-bold mb-0">$280</h5></td>
                            </tr>
                          </table>
                        </div>
                      </div>
                      <div class="col-md-6 mt-3">
                        <canvas id="south-america-chart"></canvas>
                        <div id="south-america-legend"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#detailedReports" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#detailedReports" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <p class="card-title">Cotizacion Dolar</p>
          <div class="d-flex flex-wrap mb-5">
            <div class="mr-5 mt-3">
              <h3 class="text-primary fs-30 font-weight-medium">{{ dolar_dia.apertura }}</h3>
              <p class="text-muted ">Apertura</p>
            </div>
            <div class="mr-5 mt-3">
              <h3 class="text-primary fs-30 font-weight-medium">{{ dolar_dia.maximo }}</h3>
              <p class="text-muted">Maximo</p>              
            </div>
            <div class="mr-5 mt-3">
              <h3 class="text-primary fs-30 font-weight-medium">{{ dolar_dia.minimo }}</h3>
              <p class="text-muted">Minimo</p>              
            </div>
            <div class="mt-3">
              <h3 class="text-primary fs-30 font-weight-medium">{{ dolar_dia.cierre }}</h3>
              <p class="text-muted">cierre</p>              
            </div> 
          </div>
          <canvas id="order-chart"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
         <div class="d-flex justify-content-between">
          <p class="card-title">Registro de lluvias</p>
          <a href="#" class="text-info">View all</a>
         </div>
          <p class="font-weight-500">The total number of sessions within the date range. It is the period time a user is actively engaged with your website, page or app, etc</p>
          <div id="sales-legend" class="chartjs-legend mt-4 mb-2"></div>
          <canvas id="sales-chart"></canvas>
        </div>
      </div>
    </div>
  </div>
 
  <div class="row">
    <div class="col-md-7 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <p class="card-title mb-0">Top Products</p>
          <div class="table-responsive">
            <table class="table table-striped table-borderless">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Price</th>
                  <th>Date</th>
                  <th>Status</th>
                </tr>  
              </thead>
              <tbody>
                <tr>
                  <td>Search Engine Marketing</td>
                  <td class="font-weight-bold">$362</td>
                  <td>21 Sep 2018</td>
                  <td class="font-weight-medium"><div class="badge badge-success">Completed</div></td>
                </tr>
                <tr>
                  <td>Search Engine Optimization</td>
                  <td class="font-weight-bold">$116</td>
                  <td>13 Jun 2018</td>
                  <td class="font-weight-medium"><div class="badge badge-success">Completed</div></td>
                </tr>
                <tr>
                  <td>Display Advertising</td>
                  <td class="font-weight-bold">$551</td>
                  <td>28 Sep 2018</td>
                  <td class="font-weight-medium"><div class="badge badge-warning">Pending</div></td>
                </tr>
                <tr>
                  <td>Pay Per Click Advertising</td>
                  <td class="font-weight-bold">$523</td>
                  <td>30 Jun 2018</td>
                  <td class="font-weight-medium"><div class="badge badge-warning">Pending</div></td>
                </tr>
                <tr>
                  <td>E-Mail Marketing</td>
                  <td class="font-weight-bold">$781</td>
                  <td>01 Nov 2018</td>
                  <td class="font-weight-medium"><div class="badge badge-danger">Cancelled</div></td>
                </tr>
                <tr>
                  <td>Referral Marketing</td>
                  <td class="font-weight-bold">$283</td>
                  <td>20 Mar 2018</td>
                  <td class="font-weight-medium"><div class="badge badge-warning">Pending</div></td>
                </tr>
                <tr>
                  <td>Social media marketing</td>
                  <td class="font-weight-bold">$897</td>
                  <td>26 Oct 2018</td>
                  <td class="font-weight-medium"><div class="badge badge-success">Completed</div></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
            <h4 class="card-title">To Do Lists</h4>
            <div class="list-wrapper pt-2">
                <ul class="d-flex flex-column-reverse todo-list todo-list-custom">
                    <li>
                        <div class="form-check form-check-flat">
                            <label class="form-check-label">
                                <input class="checkbox" type="checkbox">
                                Meeting with Urban Team
                            </label>
                        </div>
                        <i class="remove ti-close"></i>
                    </li>
                    <li class="completed">
                        <div class="form-check form-check-flat">
                            <label class="form-check-label">
                                <input class="checkbox" type="checkbox" checked>
                                Duplicate a project for new customer
                            </label>
                        </div>
                        <i class="remove ti-close"></i>
                    </li>
                    <li>
                        <div class="form-check form-check-flat">
                            <label class="form-check-label">
                                <input class="checkbox" type="checkbox">
                                Project meeting with CEO
                            </label>
                        </div>
                        <i class="remove ti-close"></i>
                    </li>
                    <li class="completed">
                        <div class="form-check form-check-flat">
                            <label class="form-check-label">
                                <input class="checkbox" type="checkbox" checked>
                                Follow up of team zilla
                            </label>
                        </div>
                        <i class="remove ti-close"></i>
                    </li>
                    <li>
                        <div class="form-check form-check-flat">
                            <label class="form-check-label">
                                <input class="checkbox" type="checkbox">
                                Level up for Antony
                            </label>
                        </div>
                        <i class="remove ti-close"></i>
                    </li>
                </ul>
          </div>
          <div class="add-items d-flex mb-0 mt-2">
            <input type="text" class="form-control todo-list-input"  placeholder="Add new task">
            <button class="add btn btn-icon text-primary todo-list-add-btn bg-transparent"><i class="icon-circle-plus"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 stretch-card grid-margin">
      <div class="card">
        <div class="card-body">
          <p class="card-title mb-0">Projects</p>
          <div class="table-responsive">
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th class="pl-0  pb-2 border-bottom">Places</th>
                  <th class="border-bottom pb-2">Orders</th>
                  <th class="border-bottom pb-2">Users</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="pl-0">Kentucky</td>
                  <td><p class="mb-0"><span class="font-weight-bold mr-2">65</span>(2.15%)</p></td>
                  <td class="text-muted">65</td>
                </tr>
                <tr>
                  <td class="pl-0">Ohio</td>
                  <td><p class="mb-0"><span class="font-weight-bold mr-2">54</span>(3.25%)</p></td>
                  <td class="text-muted">51</td>
                </tr>
                <tr>
                  <td class="pl-0">Nevada</td>
                  <td><p class="mb-0"><span class="font-weight-bold mr-2">22</span>(2.22%)</p></td>
                  <td class="text-muted">32</td>
                </tr>
                <tr>
                  <td class="pl-0">North Carolina</td>
                  <td><p class="mb-0"><span class="font-weight-bold mr-2">46</span>(3.27%)</p></td>
                  <td class="text-muted">15</td>
                </tr>
                <tr>
                  <td class="pl-0">Montana</td>
                  <td><p class="mb-0"><span class="font-weight-bold mr-2">17</span>(1.25%)</p></td>
                  <td class="text-muted">25</td>
                </tr>
                <tr>
                  <td class="pl-0">Nevada</td>
                  <td><p class="mb-0"><span class="font-weight-bold mr-2">52</span>(3.11%)</p></td>
                  <td class="text-muted">71</td>
                </tr>
                <tr>
                  <td class="pl-0 pb-0">Louisiana</td>
                  <td class="pb-0"><p class="mb-0"><span class="font-weight-bold mr-2">25</span>(1.32%)</p></td>
                  <td class="pb-0">14</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
      <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <p class="card-title">Charts</p>
              <div class="charts-data">
                <div class="mt-3">
                  <p class="mb-0">Data 1</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="progress progress-md flex-grow-1 mr-4">
                      <div class="progress-bar bg-inf0" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p class="mb-0">5k</p>
                  </div>
                </div>
                <div class="mt-3">
                  <p class="mb-0">Data 2</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="progress progress-md flex-grow-1 mr-4">
                      <div class="progress-bar bg-info" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p class="mb-0">1k</p>
                  </div>
                </div>
                <div class="mt-3">
                  <p class="mb-0">Data 3</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="progress progress-md flex-grow-1 mr-4">
                      <div class="progress-bar bg-info" role="progressbar" style="width: 48%" aria-valuenow="48" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p class="mb-0">992</p>
                  </div>
                </div>
                <div class="mt-3">
                  <p class="mb-0">Data 4</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="progress progress-md flex-grow-1 mr-4">
                      <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p class="mb-0">687</p>
                  </div>
                </div>
              </div>  
            </div>
          </div>
        </div>
        <div class="col-md-12 stretch-card grid-margin grid-margin-md-0">
          <div class="card data-icon-card-primary">
            <div class="card-body">
              <p class="card-title text-white">Number of Meetings</p>                      
              <div class="row">
                <div class="col-8 text-white">
                  <h3>34040</h3>
                  <p class="text-white font-weight-500 mb-0">The total number of sessions within the date range.It is calculated as the sum . </p>
                </div>
                <div class="col-4 background-icon">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
      <div class="card">
        <div class="card-body">
          <p class="card-title">Notifications</p>
          <ul class="icon-data-list">
            <li>
              <div class="d-flex">
                <img src="{% static 'images/faces/face1.jpg' %}" alt="user">
                <div>
                  <p class="text-info mb-1">Isabella Becker</p>
                  <p class="mb-0">Sales dashboard have been created</p>
                  <small>9:30 am</small>
                </div>
              </div>
            </li>
            <li>
              <div class="d-flex">
                <img src="{% static 'images/faces/face2.jpg' %}" alt="user">
                <div>
                  <p class="text-info mb-1">Adam Warren</p>
                  <p class="mb-0">You have done a great job #TW111</p>
                  <small>10:30 am</small>
                </div>
              </div>
            </li>
            <li>
              <div class="d-flex">
              <img src="{% static 'images/faces/face3.jpg' %}" alt="user">
             <div>
              <p class="text-info mb-1">Leonard Thornton</p>
              <p class="mb-0">Sales dashboard have been created</p>
              <small>11:30 am</small>
             </div>
              </div>
            </li>
            <li>
              <div class="d-flex">
                <img src="{% static 'images/faces/face4.jpg' %}" alt="user">
                <div>
                  <p class="text-info mb-1">George Morrison</p>
                  <p class="mb-0">Sales dashboard have been created</p>
                  <small>8:50 am</small>
                </div>
              </div>
            </li>
            <li>
              <div class="d-flex">
                <img src="{% static 'images/faces/face5.jpg' %}" alt="user">
                <div>
                <p class="text-info mb-1">Ryan Cortez</p>
                <p class="mb-0">Herbs are fun and easy to grow.</p>
                <small>9:00 am</small>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script>
    function clima_now() {
      fetch("https://api.weatherapi.com/v1/current.json?key=5dca93e91ec2457d8ea161903232903 &q={{ubicacion}}&aqi=no", {
        method: 'GET', 
        headers: {
       
        },
                 
      }).then(response => {
        if (!response.ok) {
          throw response; //check the http response code and if isn't ok then throw the response as an error
        }
                  
        return response.json(); //parse the result as JSON
      
      }).then(response => {
        //response now contains parsed JSON ready for use
        imagen = document.getElementById("id_imgclima");
        imagen.src = response.current.condition.icon; 
        ciudad = document.getElementById("id_ciudad");
        pais = document.getElementById("id_pais");
        ciudad.innerHTML = response.location.name;
        pais.innerHTML = response.location.country;
        
        document.getElementById("id_temperatura").innerHTML = response.current.temp_c +"<sup>C</sup>"
        //console.log(response.location); 
      
      }).catch((errorResponse) => {
        if (errorResponse.text) { //additional error information
          errorResponse.text().then( errorMessage => {
            //errorMessage now returns the response body which includes the full error message
          })
        } else {
          //no additional error information 
        } 
      });
    }
    clima_now();
    var interval = setInterval(clima_now, 100000); //100 segundos


    var rubros_labels = [];
    var rubros_datas = [];
    var rubros_colores = [];
    var componentes_labels = [];
    var componentes_datas = [];
    var componentes_cololes = [];
    var lluvia_labels =[];
    var lluvia_datas = [];
    var dolar_labels =[];
    var dolar_valor = [];
    var dolar_dia =[];

    
   
    {% for rubro in rubros_acumulados %}
    rubros_labels.push('{{rubro.rubro_desc}}');
    rubros_datas.push('{{rubro.saldo}}');
    rubros_colores.push('{{rubro.color}}');
    {% endfor %}
    {% for componente in componentes %}
    componentes_labels.push('{{componente.componente_desc}}')
    componentes_datas.push('{{componente.saldo}}')
    componentes_cololes.push('{{componente.color}}')
    {% endfor %}

    {% for lluvia_mes in lluvia_acumulada %}
    lluvia_datas.push({{lluvia_mes.valor}});
    {% endfor %}
    console.log(lluvia_datas)

    {% for valor in valores_dolar %}
    dolar_valor.push({{ valor }});
    {% endfor %}

    {% for mes in fechas_dolar %}
    dolar_labels.push('{{ mes }}');    
    {% endfor %}
    
    var texto_grafico1 = '<div class="report-chart">';
      for (var i = 0; i < rubros_labels.length; i++) {
        texto_grafico1+='<div class="d-flex justify-content-between mx-4 mx-xl-5 mt-3"><div class="d-flex align-items-center"><div class="mr-3" style="width:20px; height:20px; border-radius: 50%; background-color: ' + rubros_colores[i] + '"></div><p class="mb-0">'+ rubros_labels[i] +'</p></div>'
        texto_grafico1 +='<p class="mb-0">'+ rubros_datas[i] +'</p>'
        texto_grafico1 +='</div>'
      }
    texto_grafico1 += '</div>';

    var texto_grafico2 = '<div class="report-chart">'
      for (var i = 0; i < componentes_labels.length; i++) {
        texto_grafico2 +='<div class="d-flex justify-content-between mx-4 mx-xl-5 mt-3"><div class="d-flex align-items-center"><div class="mr-3" style="width:20px; height:20px; border-radius: 50%; background-color: ' + componentes_cololes[i]+ '"></div><p class="mb-0">'+ componentes_labels[i] +'</p></div>'
        texto_grafico2 +='<p class="mb-0">'+  componentes_datas[i] +'</p>'
        texto_grafico2 +='</div>'
      }
    texto_grafico2 += '</div>'
      
  </script>

{% endblock %}
{% block nav %}
{% include 'nav_home.html' %}
{% endblock %}

{% block plugin_js %}
<script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net/jquery.dataTables.js' %}"></script>
<script src="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'js/dataTables.select.min.js' %}"></script>
{% endblock %}

{% block custom_js %}
<script src="{% static 'js/dashboard.js' %}"></script>
<script src="{% static 'js/Chart.roundedBarCharts.js' %}"></script>
{% endblock %}
