<li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
      <i class="icon-cog menu-icon"></i>
      <span class="menu-title">Datos</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="collapse" id="ui-basic">
      <ul class="nav flex-column sub-menu">
        <li class="nav-item"> <a class="nav-link" href="/abm_atletas">Atletas</a></li>
        <li class="nav-item"> <a class="nav-link" href="/cargar_condiciones">Cargar condicion fisica</a></li>
        <li class="nav-item"> <a class="nav-link" href="/crear_plan_entrenamiento">Carga Plan Entrenaminiento</a></li>
        <li class="nav-item"> <a class="nav-link" href="/general/contactos"> path('lista-planes-entrenamiento/', lista, name='lista_planes_entrenamiento'),</a></li>
      </ul>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
      <i class="icon-tag menu-icon"></i>
      <span class="menu-title">Productos</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="collapse" id="form-elements">
      <ul class="nav flex-column sub-menu">
        <li class="nav-item"><a class="nav-link" href="/02-rubro">Rubros</a></li>
        <li class="nav-item"><a class="nav-link" href="/02">Productos</a></li>
        <li class="nav-item"><a class="nav-link" href="/02-conf">Conf Producto</a></li>
      </ul>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
      <i class="icon-bar-graph-2 menu-icon"></i>
      <span class="menu-title">Planificacion</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="collapse" id="charts">
      <ul class="nav flex-column sub-menu">
        <li class="nav-item"> <a class="nav-link" href="\03">Costo de produccion</a></li>
        <li class="nav-item"> <a class="nav-link" href="\05">Planificacion</a></li>
        <li class="nav-item"> <a class="nav-link" href="\04">Campañas</a></li>
        <li class="nav-item"> <a class="nav-link" href="\estado-lote">Estado lote</a></li>
        <li class="nav-item"> <a class="nav-link" href="\trazabilidad">Trazabilidad</a></li>
      </ul>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
      <i class="icon-paper menu-icon"></i>
      <span class="menu-title">Contabilidad</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="collapse" id="tables">
      <ul class="nav flex-column sub-menu">
        <li class="nav-item"> <a class="nav-link" href="\06">Numeradores</a></li>
        <li class="nav-item"> <a class="nav-link" href="\07">Comprobantes</a></li>
      </ul>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#stock" aria-expanded="false" aria-controls="stock">
      <i class="mdi mdi-home  menu-icon"></i>
      <span class="menu-title">Stock</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="collapse" id="stock">
      <ul class="nav flex-column sub-menu">
        <li class="nav-item"> <a class="nav-link" href="\08">Depositos</a></li>
        <li class="nav-item"> <a class="nav-link" href="\09">Gestion Stock</a></li>
      </ul>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#Maquinaria" aria-expanded="false" aria-controls="tables">
      <i class=" mdi mdi-truck   menu-icon"></i>
      <span class="menu-title">Maquinaria</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="collapse" id="Maquinaria">
      <ul class="nav flex-column sub-menu">
        <li class="nav-item"> <a class="nav-link" href="\08">Registro</a></li>
        <li class="nav-item"> <a class="nav-link" href="\09">Mantenimeinto</a></li>
      </ul>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#Meteorologia" aria-expanded="false" aria-controls="tables">
      <i class=" mdi mdi-weather-lightning  menu-icon"></i>
      <span class="menu-title">Metereologia</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="collapse" id="Meteorologia">
      <ul class="nav flex-column sub-menu">
        <li class="nav-item"> <a class="nav-link" href="meteorologia/">Tiempo</a></li>
       
      </ul>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
      <i class="icon-contract menu-icon"></i>
      <span class="menu-title">Icons</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="collapse" id="icons">
      <ul class="nav flex-column sub-menu">
        <li class="nav-item"> <a class="nav-link" href="pages/icons/mdi.html">Mdi icons</a></li>
      </ul>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
      <i class="icon-head menu-icon"></i>
      <span class="menu-title">User Pages</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="collapse" id="auth">
      <ul class="nav flex-column sub-menu">
        <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
        <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>
      </ul>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#error" aria-expanded="false" aria-controls="error">
      <i class="icon-ban menu-icon"></i>
      <span class="menu-title">Error pages</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="collapse" id="error">
      <ul class="nav flex-column sub-menu">
        <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> 404 </a></li>
        <li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.html"> 500 </a></li>
      </ul>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="pages/documentation/documentation.html">
      <i class="icon-paper menu-icon"></i>
      <span class="menu-title">Documentation</span>
    </a>
  </li>